*.o
Makefile
.cproject
.project
Makefile
config.h
config.h.in
config.log
config.status
configure
dbclient
scp
dropbear
dropbearconvert
dropbearkey
libtomcrypt/Makefile
libtommath/Makefile
autom4te.cache/

