name: Release
on:
  push:
    tags:
      - 'v*.*.*'

jobs:    
  release:
    name: Release on GitHub
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build arm binaries
        run: |
          sh build.sh arm

      - name: Build arm-axis binaries
        run: |
          sh build.sh arm-axis

      - name: Build arm64 binaries
        run: |
          sh build.sh arm64

      - name: Build arm64-axis binaries
        run: |
          sh build.sh arm64-axis

      - name: Archives & Checksum
        id: archives
        run: |
          sh ./package.sh "${{ env.RELEASE_VERSION }}" 

      - name: Release
        uses: softprops/action-gh-release@v2
        id: create_release
        if: github.ref_type == 'tag'
        with:
          generate_release_notes: true
          files: |
            ${{ env.RELEASE_VERSION }}-linux-arm.tar.gz
            ${{ env.RELEASE_VERSION }}-linux-arm_checksums.txt
            ${{ env.RELEASE_VERSION }}-linux-arm64.tar.gz
            ${{ env.RELEASE_VERSION }}-linux-arm64_checksums.txt
            ${{ env.RELEASE_VERSION }}-linux-arm-axis.tar.gz
            ${{ env.RELEASE_VERSION }}-linux-arm-axis_checksums.txt
            ${{ env.RELEASE_VERSION }}-linux-arm64-axis.tar.gz
            ${{ env.RELEASE_VERSION }}-linux-arm64-axis_checksums.txt

      - name: Notify Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: team-release
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
          SLACK_ICON: "https://a.slack-edge.com/production-standard-emoji-assets/14.0/apple-medium/1f4ac@2x.png"
          SLACK_MESSAGE: "${{ github.event.repository.name }} ${{ env.RELEASE_VERSION }} is out! Check it out at ${{ steps.create_release.outputs.url }}"
          SLACK_TITLE: "${{ github.event.repository.name }} ${{ env.RELEASE_VERSION }} Release"
          SLACK_USERNAME: release
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
